<div class="container">
  <div style="text-align: center; font-family: cursive;">
    <h3>Donate Amount</h3>
  </div>
  <div class="row align-items-start">
    <div class="left-div">
      <img src="assets\profiles\9.jpeg" style="width: 90%;" alt="picture">
    </div>
    <div class="right-div">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">HDFC BANK</h5>
          <p class="card-text">
            current A/C. no. 50200084081711 <br/>
            HDFC Bank, Rajeev Complex, <br/>
            Nana Peth, Pune. <br/>
            IFSC : HDFC0000633
          </p>
        </div>
      </div>
    </div>
  </div>
</div>