.footer {
    width: 100%;
    background-image:linear-gradient(to right, green , white);
    color: white;
    text-align: center;
    bottom: 0;
    position: absolute;
  }
  /* Define the animation */
  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }

  /* Apply the animation to the button */
  .blink-button {
    animation: blink 1s infinite; /* Change 1s to desired speed */
  }

  /* Additional styling for the button */
  .button {
    padding: 10px 20px;
    background-image: linear-gradient(to right, green , red);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }