<nav  class="navbar navbar-expand-lg navbar-light bg-light" style="background-image: linear-gradient(180deg, green, white);">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets\images\sanjari-logo.jpeg" alt="Logo" style="width:40px;" class="rounded-pill">
    </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav" style="z-index: 1;">
      <a class="nav-link active" routerLink="/home">Home</a>        
      <a class="nav-link" routerLink="/projects">Projects</a>
      <a class="nav-link" routerLink="/about">About Us</a>
      <a class="nav-link" routerLink="/contact">Contact</a>
    </div>
  </div> 
  </div>
</nav>
