<div>
  <p style="margin-top: 2%; font-family: cursive;margin-left: 20px;margin-right: 20px">
    आज मुझे आप सभी से ये बताते हुवे खुशी हो रही है की हमारे ट्रस्ट ने समाज के के जरूरतमंद गरीब बच्चों के लिए एक नया
    स्कूल बनाने का एक बहोत ही जरूरी मकसद रखा है। अगर हम ज़माने हाल मैं यह देखना चाहते है की हमारे समाज में इल्म, अच्छी
    सोच समझ, अखलाफी मिकार मैं खुश मुख्तार हो तो इसके लिए तालीम ही एक जरिया है। मेरा मानना है की आप सभी एजुकेशन को अहमियत
    को जानते है और यह हर शोबे में एजुकेशन के फायदे बताने की जरूरत नहीं है।
  </p>
  <p style="margin-top: 2%; font-family: cursive;margin-left: 20px;margin-right: 20px">
    संजरी वेलफेयर ट्रस्ट का मकसद गरीब और जरूरतमंद बच्चों के लिए एक नया स्कूल बनाना है। आज जब एजुकेशन बिजनेस बन गया है तो
    ये बच्चो का एजुकेशन का खर्च नही उठा सकते। हमारा मकसद गुरबा-मुसाकिन बच्चों को कम से कम फीस में तालीम मुहैया कराना है।
    हर साल ₹5000/- इसके लिए हम 2000 sq.ft की जमीन खरीदने की कोशिश में है। प्लॉट पार्गे नगर, कोंधवा मैं है। ज़मीन की कीमत
    लगभग 1 करोड़ है। तामीर और अखरजात कामों के लिए 2 से 3 करोड़ है, स्कूल लागत का अंदाज है। हम साल 2025 के आखर तक इस मकसद
    को हासिल करने का आज़म बना रहे है। हमे इस मकसद मैं आपको पूरे और मजबूत मदद की जरूरत है और आप सभी से दरख्वास्त है की आज
    आप चंदा और जकात से संजरी वेलफेयर ट्रस्ट की मदद करे। अगर आपके कोई सवाल और कश्मकश है तो बराहे कर्म से आप बिना जीजक के
    हमारे से राब्ता कर सकते है, हमारे स्कूल कमीटी मेंबर से।
  </p>
</div>