<div>
  <div style="text-align: center; font-family: cursive; margin: 2%;">
    <h3>Contact Us</h3>
  </div>
  <div class="container">
    <div class="left-div">
      <div class="card"
        style="background-image:linear-gradient(white, green , white);">
        <div class="card-body">
          <h5 class="card-title" style="text-align: center;">Sanjari Welfare Trust</h5>
          <div style="text-align: center;">
            <p class="card-text">
              Manish Park, <br />
              Phase 1, <br />
              Kausar Baug, Kondhwa, <br />
              Pune - 411048.
            </p>
            <p>
              <fa-icon [icon]="faPhone"></fa-icon>
              +91 96656 57861
            </p>
            <p>
              <fa-icon [icon]="faEnvelope"></fa-icon>
              Sanjariwelfaretrust&#64;gmail.com
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>